@import "../color.scss";


.main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.footer {
  flex: 0;
  color: #787878;
}
